{% extends 'layout.html.twig' %}


{% form_theme assign_form.createView() "form/theme.html.twig" %}

{% trans_default_domain 'copywriting' %}

{% block title %}
    {{ 'orders_title'|trans }}
{% endblock %}

{% set br_title = [] %}
{% set status = app.request.get('status') %}
{% if status == 'waiting' %}
    {% set br_title = ['copywriting.pending'|trans({}, 'menu')] %}
{% elseif status is iterable %}
    {% set br_title = ['copywriting.in_progress'|trans({}, 'menu')] %}
{% elseif status == 'submitted_to_admin' %}
    {% set br_title = ['copywriting.submitted_to_admin'|trans({}, 'menu')] %}
{% elseif status == 'completed' %}
    {% set br_title = ['copywriting.completed'|trans({}, 'menu')] %}
{% endif %}
{% block breadcrumb %}
    {{ include('breadcrumb/copywriting.html.twig', {'childrens': br_title}) }}
{% endblock %}

{% block content %}

    {% if status != constant('CoreBundle\\Entity\\CopywritingOrder::STATUS_WAITING') %}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-content">
                    {{ form_start(filter_form) }}
                        {{ form_errors(filter_form) }}
                        {{ form_row(filter_form.copywriter) }}
                        {% if filter_form.rating is defined %}
                            {{ form_row(filter_form.rating) }}
                        {% endif %}
                        {{ form_row(filter_form.keyword) }}
                        <div class="form-group">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9">
                                <div class="checkbox-inline-container">
                                    {{ form_widget(filter_form.keyword_title) }}
                                    {{ form_widget(filter_form.keyword_description) }}
                                    {{ form_widget(filter_form.keyword_content) }}
                                </div>
                            </div>
                        </div>
                               <button type="submit" class="btn btn-primary btn">{{ 'filter'|trans }}</button>
                    {{ form_end(filter_form) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% if accessManager().canManageWriterUser() %}
        <div class="col-lg-6">
            <div class="tooltip-demo m-t-md m-b-md">
                <button class="btn btn-primary multiple-action" data-toggle="modal" data-target="#assignModal" disabled><i class="fa fa-user-plus"></i> {{ 'assign'|trans }}</button>
                <div class="modal inmodal" id="assignModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    {% set assignFormView = assign_form.createView() %}
                    {{ form_start(assignFormView, {'attr': {'id': 'assign-form'}}) }}
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ 'assign'|trans }}</h4>
                                <i class="fa fa-user-plus modal-icon"></i>
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"></span></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    {{ 'assign'|trans }}
                                </p>
                                {{ form_row(assignFormView.copywriter) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                                <button id="assign" type="button" class="btn btn-primary">{{ 'submit'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(assignFormView) }}
                </div>
            </div>
        </div>
        {% endif %}

        {% if collection.haveToPaginate %}
            <div class="pagerfanta">
                {{ pagerfanta(collection) }}
            </div>
        {% endif %}

        <div class="col-lg-12">
            {% if collection|length == 0 %}
                <div class="no_results">
                    {{ 'no_results'| trans({}, 'general') }}
                </div>
            {% else %}
                {% for order in collection %}
                    {% include 'copywriting_order/admin_one_item.html.twig' %}
                {% endfor %}
            {% endif %}
        </div>

        {% if collection.haveToPaginate %}
            <div class="pagerfanta">
                {{ pagerfanta(collection) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        {% if app.session.flashBag.peek('notice') is not empty  %}
            flash_message = '{{ app.flashes('notice')|last }}';
        {% endif %}

        translations['delete_confirm'] = '{{ 'delete_confirm'|trans }}';
    </script>
    <script src="{{ asset('js/front/copywriting/admin_index.js') }}"></script>
    <script src="{{ asset('js/front/copywriting/express-timer.js') }}"></script>
    <script src="{{ asset('js/front/copywriting/assign_form.js') }}"></script>
{% endblock %}
