{% extends 'layout.html.twig' %}

{% trans_default_domain 'directories_list' %}

{% form_theme form "form/theme.html.twig" %}

{% block title %}
    {{ 'add_title'|trans }}
{% endblock %}

{% block breadcrumb %}
    {{ include('breadcrumb/netlinking.html.twig',
        {'childrens': [
            {'name': 'title'|trans, 'path': 'admin_directories_list'},
            block('title')
        ]})
    }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-2 col-lg-6 high-inputs m-t-lg">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                <div class="text-right m-t-lg">
                    {{ form_widget(form.save) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}