{% extends 'base_front.html.twig' %}

{% trans_default_domain 'article_blog' %}
{% block meta_description %}{{ articleBlog.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ articleBlog.metaKeywords }}{% endblock %}

{% block title %}{{ articleBlog.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container article-page">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="section__title"> {{ articleBlog.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                {{ articleBlog.text|raw }}
            </div>
        </div>
    </div>
{% endblock %}

