{% extends 'layout.html.twig' %}

{% trans_default_domain 'exchange_site_proposals' %}

{% block title %}
    {{ 'exchange_site.proposals_received'|trans({}, 'menu') }}
{% endblock %}

{% block breadcrumb %}
    {{ include('breadcrumb/exchange_site.html.twig', {'childrens': [block('title')]}) }}
{% endblock %}

{% block content %}
    {% if app.user.isWebmaster() %}
        {% if modification.count > 0 %}
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ 'table.modification.title'|trans }}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                {% include 'exchange_site_proposals/modification_list.html.twig' %}
            </div>
        {% endif %}
        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            {% include 'exchange_site_proposals/received_proposals.html.twig' %}
        </div>
    {% else %}
        <div class="tabs-container">
            <ul class="nav nav-tabs j-keep-nav j-tabs-with-footable">
                <li>
                    <a data-toggle="tab" href="#tab-received">{{ 'tabs.to_publish'|trans }}</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-modifications">{{ 'tabs.to_modify'|trans }}</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-finished">{{ 'tabs.finished'|trans }}</a>
                </li>
            </ul>
            <div class="tab-content j-keep-content">
                <div id="tab-received" class="tab-pane">
                    {% include 'exchange_site_proposals/received_proposals.html.twig' %}
                </div>
                <div id="tab-modifications" class="tab-pane">
                    {% include 'exchange_site_proposals/modification_list.html.twig' %}
                </div>
                <div id="tab-finished" class="tab-pane">
                    {% include "exchange_site_proposals/finished_proposals_table.html.twig" with {'collection':finished} %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Writing Rreferer -->
    <div class="modal fade" id="exchangeSiteProposition" tabindex="-1" role="dialog">
        <div class="modal-dialog high-inputs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">{{ 'modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('js/front/exchange_site/exchange_site_proposals.js') }}"></script>
<script>

    function keepActiveTab(navs, panes, itemName) {
        var activeTab = localStorage.getItem(itemName);

        if (activeTab == 'null') activeTab = 0;

        navs.eq(activeTab).addClass('active');
        panes.eq(activeTab).addClass('active');

        navs.on('click', function() {
            localStorage.setItem(itemName, $(this).index());
        });
    }

    keepActiveTab($('.j-keep-nav li'), $('.j-keep-content .tab-pane'), "activeTab_proposalsReceived")

</script>
{% endblock %}
