{% trans_default_domain 'user' %}

{{ form_start(form, {'attr': {'id': 'add-new-record' }}) }}
    <input type="hidden" id="eSid" name="id" value="{{ id }}">
    <input type="hidden" id="eStype" name="type" value="{{ type }}">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <input type="submit" value="{{ 'form.edit_password.button'|trans }}" class="btn btn-primary btn-sm" />
        </div>
    </div>
{{ form_end(form) }}