{% extends 'layout.html.twig' %}

{% trans_default_domain 'user' %}

{% block title %}
    {% set title = 'title_' ~ app.request.get('role') %}
    {{ title|trans }}
{% endblock %}

{% block breadcrumb %}
    {{ include('breadcrumb/users.html.twig', {'childrens': [block('title')]}) }}
{% endblock %}

{% block action %}
    <div class="col-sm-6">
        <div class="title-action">
            <a href="{{ path('user_add') }}" class="btn btn-primary btn-sm"><strong>{{ 'add_new'|trans }}</strong></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content t wrap-table-center">
                    {% if collection.haveToPaginate %}
                        <div class="pagerfanta">
                            {{ pagerfanta(collection) }}
                        </div>
                    {% endif %}
                    {% if
                        app.request.get('role') == 'seo' or
                        app.request.get('role') == 'writer_admin' or
                        app.request.get('role') == 'writer_netlinking' or
                        app.request.get('role') == 'writer_copywriting'
                    %}
                        {% include ':user:seo.html.twig' %}
                    {% elseif app.request.get('role') == 'webmaster' %}
                        {% include ':user:webmaster.html.twig' %}
                    {% elseif app.request.get('role') == 'administrator' %}
                        {% include ':user:administrator.html.twig' %}
                    {% endif %}
                    {% if collection.haveToPaginate %}
                        <div class="pagerfanta">
                            {{ pagerfanta(collection) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ include('user/user_profile_modal.html.twig') }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/front/user.js') }}"></script>
{% endblock %}
