{% extends 'layout.html.twig' %}

{% trans_default_domain 'admin_images' %}

{% block title %}
    {{ 'title'|trans }}
{% endblock %}


{% block breadcrumb %}
    {{ include('breadcrumb/admin_images.html.twig') }}
{% endblock %}

{% block action %}
    <div class="col-sm-6">
        <div class="title-action">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_images_add')}}">{{ 'add_title'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="ibox-content">

        <div class="col-sm-6">
            <form role="search" action="{{ path('admin_images_search') }}">
                <div class="input-group">
                    <input class="form-control" type="text"  id="admin_image_search_query" name="search_query" placeholder="{{ 'search_placeholder'|trans }}">
                </div>
                <input type="submit" hidden>
            </form>
        </div>

        {% if collection.haveToPaginate %}
            <div class="pagerfanta text-right">
                {{ pagerfanta(collection) }}
            </div>
        {% endif %}
        <table class="footable table table-striped article-blog">
            <thead>
            <tr>
                <th>{{ 'table.image'|trans }}</th>
                <th>{{ 'author'|trans }}</th>
                <th data-breakpoints="m">{{ 'description'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for element in collection %}
                <tr>
                    <td>
                        <img src="{{ element.url }}" style="max-width: 400px;"/>
                    </td>
                    <td>
                        {{ element.author }}
                    </td>
                    <td>
                        {{ element.description }}</td>
                    <td>
                        <div class="buttons-wrapper">
                            <a class="btn btn-primary" href="{{ path('admin_images_edit', {'id':element.id}) }}" title="{{ 'table.edit'|trans }}"><i class="fa fa-edit"></i> {{ 'table.edit'|trans }}</a>
                            <a class="btn btn-danger delete" href="{{ path('admin_images_delete', {'id':element.id}) }}" title="{{ 'table.delete'|trans }}"><i class="fa fa-trash"></i>{{ 'table.delete'|trans }}</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if collection.haveToPaginate %}
            <div class="pagerfanta">
                {{ pagerfanta(collection) }}
            </div>
        {% endif %}
    </div>
{% endblock %}