{% extends 'layout.html.twig' %}

{% trans_default_domain 'pages' %}

{% block title %}
    {{ 'title'|trans }}
{% endblock %}

{% block breadcrumb %}
    {{ include('breadcrumb/settings.html.twig', {'childrens': [block('title')]}) }}
{% endblock %}

{% block content %}
    <div class="ibox-content">
        <table class="footable table table-striped">
            <thead>
                <tr>
                    <th>{{ 'table.name'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'home_page'|trans }}</td>
                    <td>
                        <div class="buttons-wrapper">
                            <a class="btn btn-primary" href="{{ path('pages_homepage') }}"><i class="fa fa-edit"></i>{{ 'table.edit'|trans }}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
